textarea {
    width: 89%;
}

textarea,
input {
    background-color: $color-off-white;
    margin: 0 6px 0 2px;
}

.contact input,
.profile textarea {
    background-color: $base__accent-color;
}

input[type=file] {
    width: 95%;
    margin-top: 20px;
}

input[name=full_name] {
    margin-left: 10px;
}
input[name=user_image] {
    padding-left: 0px;
}

.contact input {
    width: 80%;
}

input {
    border: none;
    border-color: transparent;
    border-bottom: 1px solid $secondary__accent-color;
}
input:invalid {
    box-shadow: $invalid__box-shadow;
  }

.error-message {
    color: $base__alert-color;
}

::placeholder {
    color: $dark_grey;
    font-size: .9rem;
}