.resume-date {
    text-align: center;
}

.photo-detail {
    min-height: 190px;
}
.contact-detail,
.skills-detail {
    min-height: 400px;
}

.profile-detail,
.main-detail {
    min-height: 500px;
}

.skills-text,
.profile-text,
.education-text,
.experience-text {
    white-space: pre-line;
    // white-space: pre-wrap;
}

.contact-detail__items {
    display: flex;
}
i {
    padding-right: 10px;
}
.photo img {
    margin: 0 auto;
    border: 6px solid $secondary__accent-color;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    // width: 70%;
    // height: 70%;
}