//---------- for both add & details page -----------
.wrapper {
    max-width: 960px;
    margin: 10px auto;
    display: grid;
    border: 2px solid $secondary__accent-color;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        "photo full_name"
        "contact skills"
        "profile main"
}

.grid-area {
    background: $color-off-white;
    // border: 2px #111 solid;
    padding: 20px 30px 20px 20px;
    color: $secondary__accent-color;
}

.photo {
    grid-area: photo;
    background-color: $base__accent-color;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.full_name {
    grid-area: full_name;
    display: flex;
    align-items: center;
}

.contact {
    grid-area: contact;
    background: $base__accent-color;
    color: $secondary__accent-color;
    // color: $white;
}

.skills {
    grid-area: skills;
}

.profile {
    grid-area: profile;
    background: $base__accent-color;
    color: $secondary__accent-color;
}

.main {
    grid-area: main;
}

#experience {
    margin-bottom: 10px;
}

hr {
    display: block;
    width: 95%;
    border: 2px solid $secondary__accent-color;
}

.submit {
    text-align: center;
    margin: 0 auto;
}

