button,
.btn {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	margin: 10px auto;
	background-color: $secondary__accent-color;
	color: $white;
	font-weight: bold;
	white-space: nowrap;
	transition: all $base-transition-duration $base-transition-timing;
	cursor: pointer;
    border-radius: $base__border-radius;
	text-align: center;
	border: 2px solid $secondary__accent-color;
}
button:hover,
button:focus {
	background-color: $white;
	color: $secondary__accent-color;
}

/* button size */
.btn--sm {
	padding: $base-spacing/2.5 $base-spacing/1.25 ;
	font-size: $base__font-size/1.15;
}
