footer {
  background: $dark_grey;
  color: $white;
  padding: 10px;
  // bottom: 0px;
  // left: 0px;
  // right: 0px;
}
footer ul {
  margin: 0 auto;
  text-align: center;
}
// .footer__links li {
//   margin: 0 30px 20px 0;
//   // flex: 1 1 auto;
// }
// footer li a {
//  color: $white;
//  display: block;
// }

// .footer__links {
//   margin: 20px;
// }
