// p, ul, dl, a {
//     @include font-size($p-font-sizes);
//   }
html {
  @include font-size($html-font-sizes);
}

@include media-max-xl {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@include media-max-lg {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
  }
}

@include media-max-md {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }

  .grid-area {
    padding: 10px;
  }

  .photo img {
    width: 150px;
    height: 150px;
  }
}

@include media-max-sm {
  .card-container {
    grid-template-columns: 1fr;
  }

  .wrapper {
    margin: 0 auto;
    display: grid;
    @include display-grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
      "photo full_name"
      "contact contact"
      "skills skills"
      "profile profile"
      "main main"
  }

  .contact-detail {
    min-height: 200px;
  }

  .full_name-detail h1 {
    // margin: 0 auto;
    font-size: 1.7rem;
  }

  .photo img {
    width: 130px;
    height: 130px;
  }

  .education-text {
    padding-bottom: 10px;
  }

  .profile-detail,
  .main-detail,
  .skills-detail {
    min-height: 100px;
  }
  .photo {
    background: $color-off-white;
  }

}

@include media-max-xs {
  .card-container {
    grid-template-columns: 1fr;
  }
}