// p, ul, dl, a {
//     @include font-size($p-font-sizes);
//   }
html {
  @include font-size($html-font-sizes);
}

@include media-max-xl {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@include media-max-lg {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
  }
}

@include media-max-md {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
  .grid-area {
    padding: 7px;
  }
}

@include media-max-sm {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@include media-max-xs {
  .card-container {
    grid-template-columns: 1fr;
  }
}