// p, ul, dl, a {
//     @include font-size($p-font-sizes);
//   }
html {
  @include font-size($html-font-sizes);
}

@include media-max-xl {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
}

@include media-max-lg {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
}

@include media-max-md {
  .card-container {
    grid-template-columns: 1fr 1fr;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
}

@include media-max-sm {
  .card-container {
    grid-template-columns: 1fr;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
}

@include media-max-xs {
  .card-container {
    grid-template-columns: 1fr;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
}